.banniere-accueil{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 3vw;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .banniere-accueil {
        font-size: 1.7vh;
    }
}
