.top-bloc{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.bloc-title{
    padding: 4%;
    width: 50%;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.bloc-title.show{
    opacity: 1;
    transform: translatex(0);
}
.img-title{
    padding: 4%;
    width: 50%;
    overflow: hidden;
    transform: translateX(100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.img-title.show{
    opacity: 1;
    transform: translatex(0);
}
.first-img{
    width: 100%;
    aspect-ratio: auto;
}