.top-bloc {
  display: flex;
  color: white;
  transform: translateX(100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.bloc-title {
  width: 100%;
  height: 40vw;
}
.content {
  font-size: 1.5vw;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.527);
  position: absolute;
  width: 100%;
  height: 100%;
}
.title-descr {
  font-size: 100%;
  margin-top: 1%;
}
.content > h2 {
  font-size: 3vw;
  z-index: 999;
}
.img-title {
    object-fit: cover;
    width: 100%;
    aspect-ratio: auto;
}
@media screen and (max-width: 1000px) {
  .bloc-title {
    height: 45vw;
  }
  .title-descr {
    display: none;
  }
  .content {
    font-size: 1.5vh;
  }
  .content > h2 {
    font-size: 6vw;
  }
}
