.footer-container {
  padding: 2rem;
  margin-top: 10%;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.list-footer > h5 {
  margin-bottom: 10%;
  font-size: 18px;
  letter-spacing: 1px;
}

.foot-list {
  color: rgba(0, 0, 0, 0.527);
  margin-bottom: 10px;
  text-align: center;
  transition: 0.3s;
}

.foot-list:hover{
color: rgba(0, 0, 0, 0.712);
transition: 0.3s;
}
@media screen and (max-width: 1000px){
  .hiden-respon{
    display: none;
  }
  .responc-list > ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    justify-content: space-around;
  }

  .foot-list{
    margin-right: 1rem;
  }
}
