.twitch-conatainer{
display: flex;
padding: 5%;
text-align: center;
flex-wrap: wrap;
justify-content:space-between;
}
.live-title{
    color: #fff;
    font-size: 50px;
}
.live-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    transform: translateX(100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.live-info.visible{
    opacity: 1;
    transform: translateX(0);
}
.day-list{
    font-size: 25px;
    color: white;

}
.live-calendar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
}
.imframeTwitch{
    transform: translateX(-150%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.imframeTwitch.visible{
    opacity: 1;
    transform: translateX(0);
}