.loading {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.gif-no {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  z-index: 1;
}

.diaporama {
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.fond-ville {
  flex-shrink: 0;
  width: 100%;
  height: 100vh;
  animation: scrollImages 10s linear infinite;
}

@keyframes scrollImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
