.video-container{
    text-align: center;
}
.video-container > h5{
    color: #fff;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 5%;
}
.newVideo{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.video{
padding: 1%;
}