.sidebar {
    position: fixed;
    top: 0;
    left: -200px; /* cacher la sidebar en déplaçant le bord gauche hors de la vue */
    width: 200px;
    height: 100%;
    background-color: #ccc;
    transition: left 0.3s ease-in-out; /* ajouter une transition pour un effet de glissement */
  }
  
  .accueil.show-sidebar .sidebar {
    left: 0; /* montrer la sidebar en déplaçant le bord gauche à la position d'origine */
  }
  
  .lorem {
    grid-column: 2; /* placer le contenu dans la colonne 2 de la grille parente */
    padding: 0 20px; /* ajouter une marge intérieure pour séparer le texte du bord de la colonne */
  }
  